body{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: "Anton", sans-serif;
}

header{
    font-size: 30px;
    
}


.chamada{
    background-color: rgb(22, 22, 22);
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex; /*torna a seção flexivel deixando um do lado do outro*/
    justify-content: center; 
}

.chamada-texto{
    margin-right: 5%;
    font-size: 200%;
}


.categoria-videos{
    display:flex;
    gap: 10px;
    font-size: 50px;
    image-resolution: 200px;
}

.categoria{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    background-color: rgb(92, 1, 1);
}