body{
    background-color: black;
    color: rgb(255, 255, 255);
}
.chamada{
    background-color: rgb(192, 90, 90);
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex; /*torna a seção flexivel deixando um do lado do outro*/
    justify-content: center; 
}

.texto{
    margin-right: 5%;
}
img {
    height: 200px;
}

.categoria-videos{
    display:flex;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}